# Compiled source #
###################
*.pyc
*.pyo
*.ptlc

# Editor Tmp file #
###################
*.swp
*~

# Project env file #
###################
*.project


# Local configuration #
###################
config/local_config.py
seer/local_config.py
