# Compiled source #
###################
*.pyc
*.pyo
*.ptlc

# Editor Tmp file #
###################
*.swp
*~

# Project env file #
###################
*.project


# Local configuration #
###################
local_config.py
supervisord.conf
configs/templates/config.py
redis-store.conf
