Flask==0.9
Flask-Script==0.5.1
Flask-SQLAlchemy==0.16
Flask-Admin==1.0.4
Flask-Restless==0.7.0
Flask-And-Redis==0.4
Flask-Cache==0.10.1
Flask-Bootstrap==2.2.2-1
gunicorn==0.14.6
greenlet==0.4
pyjade==1.9
supervisor==3.0a12
pyinotify==0.9.3
gevent==0.13.7
ipython==0.13
pyquery==1.2.1
Fabric==1.4.3
pymysql==0.5
pytz==2012h
requests==0.14.2
nose==1.2.1
unittest2==0.5.1
nosy==1.1.2
hammock==0.2.0
komandr==0.1.1
