!!! 5
html
  head: title 随便看看 隐私声明
  body
    h1.title 随便看看 隐私声明
    p
      随便看看 非常重视您的隐私，我们制定了 随便看看 隐私保护制度以保护您的隐私，在您使用 随便看看 提供的服务前，请您仔细阅读以下声明。

    h2.title 保护隐私原则
    p
      本应用程序不会收集、存储、分享您的任何个人信息或者与您的设备相关的信息。我们不会收集任何统计数据和分析数据，也不会跟踪用户的行为。

    h2.title 免责条款
    p
      在如下情况下，本应用程序将不对您的隐私泄露承担责任：
    ul
      li: 本应用程序需要听从法庭传票、法律命令或遵循法律程序
      li: 因黑客行为或用户的保管疏忽导致个人信息被盗
